<div class="container-xl">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-lg-7 mx-auto">
        <div class="bg-warning mb-3 pt-3 pb-1 mx-auto" style="border-radius:32px; text-align:center; max-width:450px">
          <h3>
            <%= @today %>
          </h3>
          <h6 class="text-dark mr-2" style="opacity:0.7">
            <%= Date.current.beginning_of_month %> 〜 <%= Date.current.end_of_month %>
          </h6>
        </div>
        <div class="mt-5" style="opacity:0.8; display:flex; justify-content:center">
        <%# TODO(割合が円で表示される → 修正) %>
          <%= pie_chart ({ "今日使った割合(%)": @todays_ratio.round, "残りの割合(%)": @todays_ratio_2.round }), library:{title: {text: "今日使える金額 <br> #{@todays_income.round.to_s(:delimited, delimiter: ',')} 円"}} %>
        </div>
        <div class="mt-5" style="opacity:0.8; display:flex; justify-content:center">
          <%= column_chart [["Football", 10], ["Basketball", 5]] %>
        </div>
      </div>
<div class="">
  <h5>
    支出の合計額 <br>
    = <%= @balances_sum_expense %>
  </h5>
</div>
<div class="">
    <h5>
      固定費の合計 <br>
       = <%= @balances_sum_fixed %>
    </h5>
    <h5>
      ( 収入 - 貯金 ) - (支出 + 固定費) <br>
      = <%= @balance.to_s(:delimited, delimiter: ',') %>
    </h5>
</div>
<div class="">
  <h5>
    残りの期間 <br>
    = <%= @balance_period %>
  </h5>
</div>
<div class="">
  <h5>
    今日使える金額 <br>
    = <%= @todays_income.round.to_s(:delimited, delimiter: ',') %>
  </h5>
</div>
<div class="">
  <h5>
    実際に今日使った金額 <br>
    = <%= @todays_expense %>
  </h5>
</div>
<div class="">
  <h5>
    今日使える金額 / 実際に今日使った金額 <br>
    = <%= @todays_ratio.round %> %
  </h5>
</div>