<div class="container">
  <div class="jumbotron">
    <div class="jumbotron col-md-7 col-lg-5 mx-auto my-auto bg-light border">
      <h2 class="mb-3">Forgot your password?</h2>

      <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "Reset Password" %>
        </div>
      <% end %>

      <p class="border border-secondary mt-5" style="opacity:0.5"></p>

      <div class="mt-5">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>