<div class="jumbotron">
  <div class="container-xl mx-auto my-auto">
    <%= form_with model: @income, url: incomes_path, local:true do |f| %>
      <div class="mx-auto col-md-6" style="display:flex">
        <h2 class="text-secondary">Income</h2>
        <%= link_to new_income_path, class: "btn rounded-circle my-auto", style: "font-size:22px; opacity:0.7; color: #28a745" do %>
          <i class="fas fa-plus-circle fa-lg"></i>
        <% end %>
      </div>
      <% @income.each do |income| %>
        <div class="jumbotron mx-auto col-md-5 bg-light shadow" style="border-radius:8px;">
          <div class="mb-5" style="display:flex;">
            <div class="" style="font-size:32px;">
              <%= income.created_at.strftime('%m') %> 月
            </div>
            <div class="my-auto ml-3">
              <%= link_to edit_income_path(income.id), class: "btn btn-md btn-outline-secondary rounded rounded-circle" do %>
                <i class="fas fa-pen"></i>
              <% end %>
            </div>
          </div>
          <div class="">
            <h4>収入額</h4>
            <div class="ml-5" style="text-align:right;">
              <p class="text-info my-auto" style="text-align:right"><i class="fas fa-yen-sign fa-lg"></i><%= ( income.amount ).to_s(:delimited, delimiter: ',') %></p>
            </div>
            <p class="mb-3 border"></p>
            <div class="ml-auto" style="min-width:100px">
              <h4>貯金額</h4>
            </div>
            <div class="ml-5" style="text-align:right;">
              <p class=" text-info my-auto" style="text-align:right"><i class="fas fa-yen-sign fa-lg"></i><%= ( income.saving ).to_s(:delimited, delimiter: ',') %></p><br>
            </div>
            <div class="mb-3 border"></div>
            <h4>Period</h4>
            <div class="ml-3">
              <div class="">
                <div class="" style="min-width:100px; display:flex; justify-content:center; text-align:center">
                  <p class="mr-3">
                    Start <br>
                    <%= income.period_start %><br>
                  </p>
                  <p class="my-auto">〜</p>
                  <p class="ml-3">
                    End <br>
                    <%= income.period_end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>