<div class="jumbotron my-auto">
  <div class="container-xl">
    <div class="jumbotron col-md-7 col-lg-6 mx-auto bg-light border">
      <h2 style="display:flex">
        Edit Fixed Expense
        <div class="ml-auto">
          <%= button_to edit_fixed_expense_path(@fixed_expense), method: :delete, class: "btn btn-outline-danger rounded rounded-circle" do %>
            <i class="far fa-trash"></i>
          <% end %>
        </div>
      </h2><br>
      <div class="ml-3">
        <%= form_with model: @fixed_expense, url: edit_fixed_expense_path, local:true do |f| %>
          <div class="field mb-3">
            <h5>Income</h5>
            <div class="control ml-4" style="display:flex;">
              <i class="fas fa-yen-sign my-auto mr-3 fa-2x text-info"></i>
              <%= f.number_field :amount, autocomplete: "amount", class: "form-control", step: "100" %>
            </div>
          </div>

          <div class="field mt-5">
            <h5>Description</h5>
            <div class="control ml-3" style="display:flex;">
              <i class="fas fa-comments my-auto mr-3 fa-2x text-info"></i>
              <%= f.text_area :description, class: "form-control" %>
            </div>
          </div>

          <div class="actions mt-5">
            <%= f.submit "Update", class: "btn btn-success w-50" %>
            
          </div>
          <div class="mt-5" style="text-align:center">
            <%= link_to "Back", fixed_expenses_path, class:"btn btn-outline-secondary rounded rounded-pill mx-auto w-25", style: "border:none; opacity:0.7" %>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>