<div class="jumbotron">
  <div class="container-xl mx-auto my-auto">
    <%= form_with model: @income, url: incomes_path, local:true do |f| %>
      <div class="mx-auto col-md-7" style="display:flex">
        <h2 class="text-secondary">Expense</h2>
        <%= link_to new_expense_path, class: "btn rounded-circle my-auto", style: "font-size:22px; opacity:0.7; color: #28a745" do %>
          <i class="fas fa-plus-circle fa-lg"></i>
        <% end %>
      </div>
      <% @expense.each do |expense| %>
        <div class="jumbotron mx-auto col-md-6 bg-light shadow" style="border-radius:8px; max-height:250px">
          <div class="">
            <div class="">
              <h4>
                <p class="mr-auto">
                  <%= expense.description %>
                </p>
                <p class="text-info my-auto" style="text-align:right"><i class="fas fa-yen-sign fa-lg"></i><%= ( expense.amount ).to_s(:delimited, delimiter: ',') %></p>
              </h4>
            </div>
            <p class="border"></p>
          </div>
          <div><%= expense.updated_at %></div>
          <div class="my-auto" style="text-align:right">
            <%= link_to edit_expense_path(expense.id), class: "btn btn-outline-secondary rounded-circle" do %>
              <i class="fas fa-pen"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>