<div class="jumbotron">
  <div class="container-xl mx-auto my-auto">
    <%= form_with model: @income, url: incomes_path, local:true do |f| %>
      <div class="" style="display:flex">
        <h2 class="text-secondary">Expense</h2>
        <%= link_to new_expense_path(current_user.id), class: "btn rounded-circle my-auto", style: "font-size:22px; opacity:0.7; color: #28a745" do %>
          <i class="fas fa-plus-circle fa-lg"></i>
        <% end %>
      </div>
      <div class="jumbotron bg-light shadow" style="border-radius:8px;">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <table class="table table-hover" style="text-align:center">
              <thead>
                <tr>
                  <th>出費品目</th>
                  <th>金額 <i class="fas fa-yen-sign"></i></th>
                  <th>個数</th>
                  <th style="width:80px"></th>
                </tr>
              </thead>
              <tbody>
                <% @expenses.each do |expense| %>
                  <tr>
                    <td><%= expense.description %></td>
                    <td><%= ( expense.amount ).to_s(:delimited, delimiter: ',') %></td>
                    <td><%= expense.quantity %></td>
                    <td>
                      <%= link_to edit_expense_path(expense.id), class: "btn btn-outline-secondary rounded-circle", style: "font-size:13px" do %>
                        <i class="far fa-pen"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>