<!DOCTYPE html>
<html>
  <head>
    <title>hoWseed</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="nav_header">
      <%= link_to image_tag("logo.png", size:"100x100"), root_path %>
    </div>
    <header class="">
      <div class="">
      </div>
      <div class="hamburger position-absolute top-10 end-10">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="globalMenuSp navbar navbar-expand-lg navbar-dark justify-content-between">
        <ul>
        
        <% if user_signed_in? %>
          <li id="for-logout-button"><%= link_to "Contact", root_path, class: "text-secondary" %></li>
          <li class="nav_new_expense">
            <button class="btn" type="button">
              <%= link_to new_expense_path do %>
                <i class="fas fa-comments-dollar fa-3x text-info"></i>
              <% end %>
            </button>
          </li>
          <span class="">
            <li>
              <!-- Example single danger button -->
              <div class="btn-group">
                  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">Settings</button>
                  <div class="dropdown-menu" style="min-width:200px">

                    <div class="dropdown-item" style="display:flex;">
                      <div class="my-auto">
                        <i class="fas fa-user-check text-secondary fa-lg" style="margin-left:.3rem; margin-right:.7rem"></i>
                      </div>
                      <div class="my-auto">
                        <%= link_to "User Information", edit_user_registration_path(current_user.id), class: "text-secondary", style: "text-align:right" %>
                      </div>
                    </div>

                    <div class="dropdown-item" style="display:flex;">
                      <div class="my-auto">
                        <i class="fas fa-money-check-alt text-secondary fa-lg" style="margin-right:1rem"></i>
                      </div>
                      <div class="my-auto">
                        <%= link_to "Fixed Expenses", fixed_expenses_path(current_user.id), class: "text-secondary", style: "text-align:right" %>
                      </div>
                    </div>

                    <div class="dropdown-item" style="display:flex;">
                      <div class="my-auto">
                        <i class="fas fa-piggy-bank text-secondary fa-lg" style="margin-right:1rem"></i>
                      </div>
                      <div class="my-auto">
                        <%= link_to "Incomes", incomes_path(current_user.id), class: "text-secondary" %>
                      </div>
                    </div>
                  </div>
              </div><!-- /btn-group -->
            </li><br>
          </span>
          <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-danger" %></li>
        <% else %>
          <li id="for-logout-button"><a href="#">About</a></li>
          <li id="for-logout-button"><a href="#">Features</a></li>
          <li id="for-logout-button"><a href="#">Contact</a></li>
          <li id="for-logout-button"><%= link_to "新規登録", new_user_registration_path %></li><br>
          <li><%= button_to "ログイン", new_user_session_path, class:"btn btn-outline-primary" %></li>
        <% end %>
        </ul>
      </nav>
    </header>
    <script type="text/javascript">
      $(function() {
        $('.hamburger').click(function() {
          $(this).toggleClass('active');
  
          if ($(this).hasClass('active')) {
              $('.globalMenuSp').addClass('active');
          } else {
              $('.globalMenuSp').removeClass('active');
          }
        });
      });
    </script>
  </body>
  <main>
    <div>
      <p class="text-success"><%= notice %></p>
      <p class="text-danger"><%= alert %></p>
      <div id="content"><%= yield %></div>
    </div>
  </main>
  <footer class="footer">
    <div class="container text-center">
      <div class="text-center">
        <%= image_tag("logo.png", size: "100x100") %>
        <p></p>
        <div class="footer_copyright">
          Copyright &copy; 1992 - 2022 hoWseed Inc. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
</html>